       <!-- First section start -->
    <section class="hero py-8">
        <div class="container mx-auto items-center flex justify-between" >
            <div class="w-1/2">
                <h6 class="text-lg"><em>Are you hungrey?</em></h4>
                <h1 class="text-3xl font-bold">Don't Wait</h2>
                <button class="btn-style px-6 py-2 rounded-full text-white fint-bold mt-4">
                    Order Now
                </button>
            </div>
            <div class="w-1/2">
                <img src="js/css/img/hero-pizza.png" alt="Background" >
            </div>
        </div>
    </section>
    <!-- First section end -->

    <!-- slider start -->
    <section>
        <div class="main">
            <div class="slider-outer">
            <div class="slider">
                <div class="slide-item"><span class="slide-image" >
                    <img src="js/css/img/slider-01.jpg" alt="">
                </span></div>
                <div class="slide-item"><span class="slide-image" >
                    <img src="js/css/img/slider-02.jpg" alt="">
                </span></div>
                <div class="slide-item"><span class="slide-image" >
                    <img src="js/css/img/slider-03.jpg" alt="">
                </span></div>
            </div>
            </div>
        </div>
    </section>
    <!-- slider end -->

    <!-- thirds section -->
    <section class="menu container mx-auto py-8">
        <h1 class="text-xl fint-bold mb-8">All Dishes</h1>
        <div class="grid grid-cols-3 col-gap-12 row-gap-10">
            <div>
                <img class="h-50 mb-4 mx-auto" src="js/css/img/2.jpg" alt="">
                <div class="text-center">
                    <h2>Fried Rice</h2>
                    <span class="color py-1 px-4 rounded-full text-x5">Small</span>
                    <div class="flex items-center justify-center mt-6">
                        <h4 class="price">Price:</h4>
                        <span class="font-bold text-lg mr-20">$6</span>
                        <button class="add-to-cart">
                            <span class="mr-4">+</span>
                            <span>Add</span>
                        </button>
                    </div>
                </div>
            </div>

            <div>
                <img class="h-50 mb-4 mx-auto" src="js/css/img/2.jpg" alt="">
                <div class="text-center">
                    <h2>Fried Rice</h2>
                    <span class="color py-1 px-4 rounded-full text-x5">Small</span>
                    <div class="flex items-center justify-center mt-6">
                        <h4 class="price">Price:</h4>
                        <span class="font-bold text-lg mr-20">$6</span>
                        <button class="add-to-cart">
                            <span class="mr-4">+</span>
                            <span>Add</span>
                        </button>
                    </div>
                </div>
            </div>

            <div>
                <img class="h-50 mb-4 mx-auto" src="js/css/img/2.jpg" alt="">
                <div class="text-center">
                    <h2>Fried Rice</h2>
                    <span class="color py-1 px-4 rounded-full text-x5">Small</span>
                    <div class="flex items-center justify-center mt-6">
                        <h4 class="price">Price:</h4>
                        <span class="font-bold text-lg mr-20">$6</span>
                        <button class="add-to-cart">
                            <span class="mr-4">+</span>
                            <span>Add</span>
                        </button>
                    </div>
                </div>
            </div>

            <div>
                <img class="h-50 mb-4 mx-auto" src="js/css/img/2.jpg" alt="">
                <div class="text-center">
                    <h2>Fried Rice</h2>
                    <span class="color py-1 px-4 rounded-full text-x5">Small</span>
                    <div class="flex items-center justify-center mt-6">
                        <h4 class="price">Price:</h4>
                        <span class="font-bold text-lg mr-20">$6</span>
                        <button class="add-to-cart">
                            <span class="mr-4">+</span>
                            <span>Add</span>
                        </button>
                    </div>
                </div>
            </div>

            <div>
                <img class="h-50 mb-4 mx-auto" src="js/css/img/2.jpg" alt="">
                <div class="text-center">
                    <h2>Fried Rice</h2>
                    <span class="color py-1 px-4 rounded-full text-x5">Small</span>
                    <div class="flex items-center justify-center mt-6">
                        <h4 class="price">Price:</h4>
                        <span class="font-bold text-lg mr-20">$6</span>
                        <button class="add-to-cart">
                            <span class="mr-4">+</span>
                            <span>Add</span>
                        </button>
                    </div>
                </div>
            </div>

            <div>
                <img class="h-50 mb-4 mx-auto" src="js/css/img/2.jpg" alt="">
                <div class="text-center">
                    <h2>Fried Rice</h2>
                    <span class="color py-1 px-4 rounded-full text-x5">Small</span>
                    <div class="flex items-center justify-center mt-6">
                        <h4 class="price">Price:</h4>
                        <span class="font-bold text-lg mr-20">$6</span>
                        <button class="add-to-cart">
                            <span class="mr-4">+</span>
                            <span>Add</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>